nav {
  background-color: #014e56;
  box-shadow: 1px 1px 10px 1px white;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
}
#navbar * a {
  transition: 0.4s ease-in-out;
}
#navbar * a:hover {
  color: #F67E7E;
}
#navbar .contact-us-link:hover {
background-color: white;
color: #014e56;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-left img {
  margin-right: 80px;
  max-width: 159.95px;
}
.navbar-left a {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-right: 40px;
  color: #ffffff;
}
.contact-us-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding: 10px 32px;
  border-radius: 24px;
  border: 1px solid white;
  color: #ffffff;
}
